.cards {
    display: grid;
    grid-template-columns: 1 1fr;
    row-gap: 20px;
}

@media screen and (min-width: 1280px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
        column-gap: 17px;
    }
}