.header__logo {
    display: block;
    height: 24px;
    margin-bottom: 31px;
    margin-left: 37px;
    width: 103px;
}

@media screen and (min-width: 1024px) {
    .header__logo {
        height: 33px;
        margin-bottom: 41px;
        width: 142px;
    }
}