.profile__edit-btn {
    background: center no-repeat url(../../../images/edit.png);
    border: solid 1px #fff;
    height: 18px;
    width: 18px;
    margin-left: 10px;
}

@media screen and (min-width: 1280px) {
    .profile__edit-btn {
        height: 24px;
        width: 24px;
        margin-left: 18px;
    }
}