.popup__close-btn {
    background: center no-repeat url(../../../images/close-icon.png);
    border: none;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: -36px;
}

@media screen and (min-width: 1280px) {
    .popup__close-btn {
        width: 32px;
        height: 32px;
        top: -40px;
        right: -40px;
    }
}