.profile__user-name {
    font-size: 27px;
    font-weight: 500;
    line-height: 33px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (min-width: 1280px) {
    .profile__user-name {
        font-size: 42px;
        line-height: 48px;
    }
}